node_modules
.next
out
.vscode
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
*.local
*.log
/contentlayer-generated
/contentlayer.generated.ts
/public/og/*.png
